<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cmpt276.calciumparentapp">

    <application
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.CalciumParentApp">
        <activity
            android:name=".ui.coinflip.CoinFlipHistory"
            android:exported="false" />
        <activity
            android:name=".ui.timer.TimerSelectTime"
            android:exported="false" />
        <activity
            android:name=".ui.manage.ManageFamilyAdd"
            android:exported="false" />
        <activity
            android:name=".ui.manage.ManageFamilyEdit"
            android:exported="false" />
        <activity
            android:name=".ui.timer.Timer"
            android:exported="false" />
        <activity
            android:name=".ui.manage.ManageFamilyMembers"
            android:exported="false" />
        <activity
            android:name=".ui.coinflip.CoinFlip"
            android:exported="false" />
        <activity
            android:name=".ui.MainMenu"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>